{% extends "CommtoolTemplateBundle::base.html.twig" %}

{% block content %}
<div id="html-content" class="bordered" ng-controller="HtmlCtrl">
    {{ include(template.view) }}
</div>
<div ng-app="commtool.config" ng-controller="MainCtrl" ng-cloak>
    <div class="bordered lateral">
        <h4>Secciones del Template</h4>
        <ul id="sections-template">
            {%raw%}<li ng-repeat="e in sections" ng-click="show(e)" 
                ng-mouseenter="enter(e)" ng-mouseleave="leave(e)">
            {{e.type}} ({{e.tag}})</li>
            {%endraw%}
        </ul>
    </div>
    <div style="text-align: center" class="lateral">
        <a class="button generate" style="width: 100%" ng-click="save()">Generar Template</a>
    </div>
    <div id="dialog-edit" ng-controller="DialogCtrl"></div>
    <div ng-view></div>
</div>
{% endblock %}
{% block javascripts %}
        <script type="text/javascript">
            var urls = {
            getSection: '{{ path('commtool_template_section_properties') }}/',
            save: '{{ path('commtool_template_save',{id: template.id}) }}'
            }
            $('.button').button();
            var configs = {{ render(controller('CommtoolTemplateBundle:Section:allConfigs')) }};
        </script>
{% endblock %}